#root {
    $background: #1d2a31;
    $foreground: #d4be98;
    $top-bar: #1d2a31;
    $trans: rgba(100, 100, 100, 0.3);
}
$highlight: #097c99;
$border: #097c99;

.App {
    h2 {
        color: var(--foreground);
    }
    
    a {
        text-decoration: none;
        color: var(--foreground);
    }
    
    img {
        background-size: cover;
        background-repeat: no-repeat;
    }

    width: 100vw;
    position: relative;
    height: 100vh;
    text-align: center;
    background-color: var(--background);
}

