@import "./App.scss";

.Applet {
    .button {
        font-size: 1rem;
        border: none;
        color: var(--foreground);
        text-align: center;
        transition: 200ms linear;
    }

    .button:hover {
        color: var(--highlight);
    }

    .lorem {
        color: var(--foreground);
        font-size: 1rem;
        overflow: hidden;
        width: calc(100vw - 20rem);
        left: 18em;
        position: relative;
    }

    h2 {
        margin-top: 2em;
    }

    width: 100vw;
    position: relative;
    background-color: var(--background);
    display: flex;
}
