@import "./common.scss";


.Applet {
    background-color: var(--background);

    position: relative;
    height: 100%;
    width: auto;
    display: grid;
    flex-wrap: wrap;

    grid-auto-rows: auto;
    grid-auto-columns: minmax(0, 1fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    grid-auto-flow: column;

    @include small-screen {
        display: flex;
        flex-direction: column;
        height: fit-content;

        .link-container, .link-more {
            height: 100vw;
            max-height: 16em;
        }
    }

    .link-more {
        grid-column: 5 / 7;
        grid-row: 45 / 48;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        border: 5px solid var(--foreground);
        padding: 0;

        @include small-screen {
            height: fit-content;
            padding: 1rem;
        }

        .more-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 900;
            font-size: 2em;
            line-height: 37px;
            color: var(--foreground);
            transition: 200ms;
        }

        &:hover {
            .more-text {
                font-size: 2.25em;
            }
        }
    }

    .link-container {
        position: relative;
        display: block;
        overflow: hidden;

        .link {
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0.5rem;

            color: var(--background);
            background-color: var(--foreground);

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 900;
            font-size: 2rem;
            line-height: 37px;
        }
        .background {
            transition: 200ms;
            width: 100%;
            height: 100%;
            background-size: cover;
            // TODO: properly select which part of the image to use
            // IIRC coudinary "responsive images" are a possible way
            // not sure though, and even if so it might not be the best
            filter: saturate(0.5)
                    brightness(0.8);
            &:hover {
                transform: scale(110%);
                filter: saturate(1)
                        brightness(1);
            }
        }
    }

    // We also need to only show the first 6 on small screens
    @include small-screen {
        .link-container {
            display: none;
        }
        .link-container:nth-child(-n+6) {
            display: block;
        }
    }
}

.markdown {
    margin-left: 17em !important;
    margin-right: 1em;
    width: auto;
    position: relative;
    color: var(--foreground) !important;
    text-align: start;
    @include small-screen {
        margin-left: 7.2em !important;
    }

    a {
        text-decoration: underline;
    }

    img {
        max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        width: 100%;
        text-align: center;
    }
}
