@import "./App.scss";

.Applet {
    .flex {
        display: flex;
    }
    
    .button {
        border: none;
        color: var(--foreground);
        text-align: center;
        transition: 200ms linear; 
    }
    
    .button:hover {
			color: $highlight;
    }
    
    .lorem {
        color: var(--foreground);
        font-size: 1rem;
        overflow: hidden;
    }

	h2 {
		margin-top: 2em;
	}

    width: calc(100vw - 14em);
    position: relative;
	left: 13em;
    background-color: var(--background);
    display: flex;
}
