@mixin small-screen {
    @media only screen and (max-width: 1000px) {
        @content;
    }
}

@font-face {
    font-family: Kharkiv Tone;
    src: url("/fonts/KharkivTone.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}