@import "./common.scss";

.container {
  width: auto;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .error {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    @include small-screen {
      font-size: 1.5rem;
      flex-direction: column;
    }

    .title {
      font-family: "Roboto", sans-serif;
      border-right: 1px solid var(--menu-bg);
      margin-right: 1.5em;
      padding: 1em 1.5em 1em 0;
      font-size: 2em;
      font-weight: 700;
      color: var(--foreground);

      @include small-screen {
        font-size: 3em;
        padding: 0;
        margin: 0;
        border: none;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      .description {
        font-size: 1.5em;
        line-height: inherit;
        margin: 0;
        padding: 0;
        color: var(--foreground);
        text-align: center;
      }

      @include small-screen {
        border-top: 1px solid var(--menu-bg);
        padding: 1em;
        margin: 1em;
        line-height: 3em;
      }
    }
  }
}
