@import "./common.scss";

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: var(--menu-bg);
  color: var(--secondary);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 1em;
  padding-top: 3rem;

  @include small-screen {
    padding-top: 1rem;
    gap: 1rem;
    flex-direction: column;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;

      @include small-screen {
        flex-direction: row;
      }
    }

    .link {
      color: var(--secondary);
      font-size: 1rem;
      font-variant: small-caps;
      padding: 1rem;

      &:hover {
        color: var(--foreground);
        text-decoration: underline;
      }
    }

    .label {
      font-size: 1.5rem;

      @include small-screen {
        font-size: 1rem;
      }
    }

    .logos {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      font-size: 3rem;
      width: 100%;
      padding: 1rem;

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 25%;

        &.outlined {
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
        }
      }
    }

    .logo {
      path {
        fill: var(--secondary);
      }
    }
  }
}
