@import "./common.scss";


.footer {
    display: flex;
    min-height: 21.125rem;
    align-items: center;
    justify-content: space-around;
    background-color: var(--menu-bg);
    color: var(--secondary);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    flex-wrap: wrap;
    gap: 2rem;

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        .label {
            max-width: 29rem;

            font-family: 'Kharkiv Tone';
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 1.7rem;
            text-align: center;
        }
        .links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .link {
                color: var(--secondary);
                margin: 0.5rem;

                font-family: 'Kharkiv Tone';
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
        .socials {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            font-size: 3rem;
            width: 100%;
            padding: 1rem;
        }
        .logo {
            transform: scale(0.5);
            path {
                fill: var(--secondary);
            }
        }
    }
}