@import "./common.scss";

.info {
  display: grid;
  grid-template:
    "logo title"
    "about cover";
  margin: 2rem 1rem;
  grid-template-columns: minmax(min-content, 1fr) 3fr;
  grid-auto-flow: row;
  gap: 4rem;

  @include small-screen {
    gap: 2rem;
    grid-template:
      "title"
      "cover"
      "about";
  }

  .logo {
    grid-area: logo;
    @include small-screen {
      display: none;
    }
  }

  .about {
    grid-area: about;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 48rem;

    .text {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.4rem;
      text-align: left;
    }
    .separator {
      width: 50%;
      height: 0.25rem;
      background-color: var(--foreground);
      margin: 2rem 0;
    }
  }

  .title {
    grid-area: title;

    font-family: "Roboto", sans-serif;
    font-size: 3.5rem;
    @include small-screen {
      font-size: 2rem;
    }
    font-weight: 400;
    line-height: 3.5rem;
    @include small-screen {
      line-height: 2rem;
    }
    letter-spacing: 0.04em;
    text-align: left;
  }

  .cover {
    grid-area: cover;

    .image {
      cursor: pointer;
      background: url("/mainpagebg.jpg"), var(--background);
      width: 100%;
      aspect-ratio: 859/460;
      background-size: contain;
      display: flex;
      position: relative;
      border-radius: 1rem;
      box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
      transition: 200ms;
      overflow: hidden;

      &:hover {
        transform: scale(1.01);
      }

      .overlay {
        display: block;
        background: linear-gradient(
          259.51deg,
          #57f5ff 7.79%,
          #63d051 35.99%,
          #fff384 70.71%,
          #ffc684 100%
        );
        opacity: 0.2;
        width: 100%;
        height: 100%;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--background);
        font-size: 1.5rem;

        position: absolute;
        width: 4rem;
        height: 4rem;
        transform: translate(-50%, -50%);
        left: 60%;
        background: linear-gradient(
          259.51deg,
          rgba(87, 245, 255, 0.67) 7.79%,
          rgba(99, 208, 81, 0.52) 35.99%,
          rgba(255, 243, 132, 0.46) 70.71%,
          rgba(255, 198, 132, 0.19) 100%
        );
        border: 1px solid var(--background);
        backdrop-filter: blur(1rem);
        border-radius: 0.75rem;
      }
    }
  }
}
