@import "common.scss";

.main {
    margin-left: 16.5em;
    @include small-screen {
        margin-left: 6.5em;
    }

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    .title {
        text-align: start;
        margin: 2rem;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 4em;
        line-height: 85px;

        color: var(--foreground);
    }

    .grid {
        --min: 24rem;
        --gap: 1rem;
      
        display: grid;
        grid-gap: var(--gap);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));

        .article {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            border-radius: 1rem;

            padding: 2rem;
            margin: 1rem 2rem;
            background-color: var(--menu-bg);

            font-size: 1.5em;
            @include small-screen {
                font-size: 2em;
            }

            .title {
                transition: 200ms;
                color: var(--secondary);
                margin: 0;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 1.75em;
                line-height: 2.5rem;

                padding: 0.5em 0;

                @include small-screen {
                    font-size: 2em;
                }
            }

            .cover {
                width: 100%;
                border-radius: 1em;
            }

            .description {
                color: var(--secondary);
                padding: 1rem;
            }
        }
    }
}