@import "./common.scss";

.drawer {
  display: none;
}
.drawerlabel {
  display: none;
  font-size: 2rem;
  margin: 1rem;
}
.navlink-mobile {
  display: none;
}

.titlebar {
  display: flex;
  flex-direction: row;
  @include small-screen {
    flex-direction: column;
  }
  align-items: center;
  @include small-screen {
    align-items: flex-start;
  }
  justify-content: flex-start;
  padding: 2.5rem 1rem;
  @include small-screen {
    padding: 0;
  }
  height: 6rem;
  @include small-screen {
    height: 3rem;
  }

  .name {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.04em;
    margin-right: 2rem;
  }

  .searchbutton {
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 0.75rem;
    margin-right: 0.3rem;
    margin-left: 0.5rem;
  }

  .search {
    font-size: 2rem;
    margin: 1.5rem 2rem;
    margin-left: auto;
    @include small-screen {
      margin: 0;
    }
    align-self: flex-start;
    height: 3rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .open {
      @include small-screen {
        width: 15rem;
      }
      @media (min-width: 1000px) and (max-width: 1100px) {
        width: 10rem;
      }
      @media (min-width: 1100px) {
        width: 20rem;
      }
      transition: 300ms;
    }
    .closed {
      width: 0;
      @include small-screen {
        width: 100%;
      }
      transition: 300ms;
      overflow: hidden;
    }

    .searchcontainer {
      width: 100%;
      .searchbar {
        width: 100%;
        input {
          font-size: 1rem;
          background: transparent;
          outline: none;
          border: none;
          border-bottom: solid var(--menu-bg) 0.25rem;
          color: var(--foreground);
          width: 100%;

          &:focus {
            border: none;
            border-bottom: solid var(--highlight) 0.25rem;
          }
        }
      }

      .results {
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;

        .result {
          background: var(--background);
          border: solid var(--menu-bg) 1px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          z-index: 1;

          .title {
            color: var(--secondary);
            font-size: 1.25rem;
          }

          .content {
            font-size: 0.75rem;
          }
        }
      }
    }
  }

  .navlink,
  .dropdownbutton {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.04em;
    text-align: left;
    padding: 1.5rem;
    font-variant: small-caps;
    cursor: pointer;
  }

  .dropdown {
    .dropdownbutton {
      background: transparent;
      color: var(--foreground);
      border: none;
      outline: none;

      .dropdownicon {
        height: 1rem;
        width: 1rem;
        margin-left: 0.25rem;
        margin-top: 0.5rem;
      }
    }

    .dropdowncontent {
      display: none;
      z-index: 1;
      flex-direction: column;
      position: absolute;
      background-color: var(--background);
      min-width: 10rem;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      margin-left: 1rem;

      .navlink:hover {
        filter: brightness(0.8);
        background: var(--background);
      }
    }
  }

  .dropdown:hover .dropdowncontent {
    display: flex;
  }
}

@include small-screen {
  .drawerlabel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .name {
    display: none;
  }
  .drawer ~ .titlebar {
    height: 0;
    min-height: 0;
    max-height: 0;
    padding: 1rem;
    z-index: 10;

    transform: scaleY(0);
    transform-origin: top;
    transition: 300ms;
  }
  .drawer:checked ~ .titlebar {
    height: auto;
    min-height: 6rem;
    max-height: 128rem;
    transform: scaleY(1);
  }
  .navlink,
  .dropdownbutton {
    padding: 0.5rem 1rem;
  }
  .navlink-mobile {
    display: block;
  }
}
