@import "./common.scss";

.navbar {
    $bar-width: 16em;
    transition: all 200ms ease-out;

    width: $bar-width;
    top: 0;
    bottom: 0;
    z-index: 10;
    box-shadow: 0.1em var(--foreground);
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--menu-bg);

	.drawerlabel {
		display: none;
		font-size: 1.1em;
		margin-left: 1.5em;
		transition: 200ms ease-out;
	}

	.drawer {
			display: none;
	}

    .search {
        margin: 0.5rem;
        height: 3rem;
        border: solid var(--background) 0.25rem;
        display: flex;
        flex-direction: row;
        color: var(--background);

        input {
            all: unset;
            display: block;
            height: 100%;
            width: 100%;
            border: none;
            background-color: var(--foreground);
        }
        .icon {
            display: flex;
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.25rem;

            align-items: center;
            justify-content: center;

            background-color: var(--foreground);
        }
    }

    .menuitem {
        width: 100%;
        list-style: none;
        .licontainer {
            display: flex;
            margin: 0;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;

            &:hover {
                color: var(--highlight);
            }

            .icon {
                display: block;
                margin: 1rem;
                @include small-screen {
                    display: block;
                    height: 1.5rem;
                    width: 1.5rem;
                    margin: 0;
                }
            }
        }
    }

    .links {
        float: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--menu-bg);
        padding: 0;
        margin: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: all 200ms ease-out;
        .menulink {
            text-transform: uppercase;
            padding: 0;
            font-size: 1rem;
            color: var(--foreground);
            text-decoration: none;
            transition: 200ms ease-out;
            padding-top: 1em;

            @include small-screen {
                display: block;
                width: 50%;
                margin: 0;
                padding: 1rem;
            }
        }
    }

	.drawer:checked + .links{
		width: 100vw;
    }
	
	.drawer:checked + .links * .text {
		display: block;
	}

	.drawer:checked + * .search {
		display: flex;
	}

	.drawer:checked + .links * .drawerlabel {
		transform: translateX(88vw);
	}

	.drawer:checked + * .menulink {
		margin-left: auto;
		margin-right: auto;
	}


    @include small-screen {
		.drawerlabel {
		    display: block;
		}

		.text {
		    display: none;
			margin-left: 1em;
		}

		.search {
		    display: none;
		}

		width: 6em;
		padding-top: 0;
    }

    .menubutton {
        border: none;
        background-color: transparent;
        color: var(--foreground);
        font-size: 1.5rem;
        padding-top: 1em;
        text-align: left;
        text-transform: uppercase;
        transition: 200ms ease-out;
    }


    .bottom {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
		@include small-screen {
		    margin-bottom: 6rem;
		}
    }

    .logo {
        width: 100%;
    }
}
