@import "./common.scss";

.navbar {
    $bar-width: 16rem;
    transition: all 200ms ease-out;

    width: $bar-width;
    top: 0;
    bottom: 0;
    z-index: 3;
    box-shadow: 0.1rem var(--foreground);
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--menu-bg);
    align-items: flex-start;

	.drawerlabel {
		display: none;
		font-size: 1.1rem;
		transition: 200ms ease-out;
	}

	.drawer {
		display: none;
	}

    .search {
        margin: 0.5rem;
        height: 3rem;
        border: solid var(--background) 0.25rem;
        display: flex;
        flex-direction: row;
        color: var(--background);

        input {
            all: unset;
            display: block;
            height: 100%;
            width: 100%;
            border: none;
            background-color: var(--foreground);
        }
        .icon {
            display: flex;
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.25rem;

            align-items: center;
            justify-content: center;

            background-color: var(--foreground);
        }
    }

    .menuitem {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        align-items: flex-start;

        @include small-screen {
            width: fit-content;
            align-items: center;
        }

        .licontainer {
            display: flex;
            margin: 0;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            transition: 200ms;

            &:hover {
                color: var(--highlight);
            }

            .icon {
                display: block;
                margin: 1rem;
                @include small-screen {
                    display: block;
                    height: 1.5rem;
                    width: 1.5rem;
                    margin: 0;
                }
            }
        }
    }

    .navbar_content {
        float: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--menu-bg);
        padding: 0;
        margin: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: all 200ms ease-out;
        overflow-x: visible;
        overflow-y: scroll;

        .links {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .menulink {
            text-transform: uppercase;
            padding: 0;
            font-size: 1rem;
            color: var(--foreground);
            text-decoration: none;
            transition: 200ms ease-out;
            padding-top: 1rem;

            @include small-screen {
                display: block;
                width: 50%;
                margin: 0;
                padding: 1rem;
            }
        }
    }

	.drawer:checked + .navbar_content{
		width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

	.drawer:checked + .navbar_content .links {
		margin: 0 auto;
        width: fit-content;
        align-items: flex-start;
    }

	.drawer:checked + .navbar_content .links .menuitem:nth-child(1) {
		width: 100%;
    }

	.drawer:checked + .navbar_content .menulink{
		margin: 0;
        width: fit-content;

        .licontainer {
            width: fit-content;
        }
    }
	
	.drawer:checked + .navbar_content * .text {
		display: block;
        white-space: nowrap;
        overflow: hidden;
	}

	.drawer:checked + * .search {
		display: flex;
	}

    .logo {
        display: none;
    }
    .drawer:checked + * .logo {
        display: block;
        height: 6rem;
    }

	.drawer:checked + * .menulink {
		margin-left: auto;
		margin-right: auto;
	}

	.drawer:checked + * .bottom {
        margin-bottom: 2rem;
    }


    @include small-screen {
		.drawerlabel {
            width: 4rem;
		    display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
		}

		.text {
		    display: none;
			margin-left: 1rem;
		}

		.search {
		    display: none;
		}

		width: 4rem;
		padding-top: 0;
    }

    .menubutton {
        border: none;
        background-color: transparent;
        color: var(--foreground);
        font-size: 1.5rem;
        padding-top: 1rem;
        text-align: left;
        text-transform: uppercase;
        transition: 200ms ease-out;
    }


    .bottom {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
		@include small-screen {
		    margin-bottom: 6rem;
		}
    }

    .logo {
        width: 100%;
    }
}
